.login-form {
    min-height: calc(100vh - var(--navbar-height));
    height: 100%;
    max-height: calc(100vh - var(--navbar-height));
    width: 100%;
    max-width: 100vw;
    background: var(--dark-blue);
    justify-content: center;
}

.login-form{
    display: flex;
    align-items: center;
}

.login-form .card {
    min-height: 600px;
    width: 520px;
    padding: 24px 36px 0;
    flex-direction: column;
}

.login-form .card {
    display: flex;
    align-items: center;
}

.login-form .card h2 {
    font-size: 42px;
    margin-bottom: 4px;
    font-weight: 600;
    color: var(--pure-white);
}

.login-form .card .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.login-form .card .form {
    padding-bottom: 10px;
    color: var(--pure-white);
}

.login-form .card .form .input-field {
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.login-form .card .form .input-field input {
    height: 60px;
    padding: 0 15px;
    font-size: 16px;
    border: 1px solid var(--border-color);
    width: 100%;
    background: transparent;
    color: var(--pure-white);
}

.login-form .card .form .submit-login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.btn, button {
    background: transparent;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-weight: 700;
    cursor: pointer;
    transition: all .1s ease;
    padding: 12px 18px;
    border-radius: 4px;
    background: #00c98e;
    background: var(--color-secondary);
    color: #fff;
}